    <!-- Locations of indexes in the Bowtie mapper format -->
    <table name="bowtie_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/bowtie_indices.loc" />
    </table>
    <!-- Locations of indexes in the Bowtie mapper format for TopHat to use -->
    <table name="tophat_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/bowtie_indices.loc" />
    </table>
    <!-- Locations of indexes in the Bowtie2 mapper format -->
    <table name="bowtie2_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/bowtie2_indices.loc" />
    </table>
    <!-- Locations of indexes in the Bowtie2 mapper format for TopHat2 to use -->
    <table name="tophat2_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/bowtie2_indices.loc" />
    </table>
    <!-- Locations of fasta indexes -->
    <table name="fasta_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/fasta_indexes.loc" />
    </table>
    <!-- Locations for lastz_seqs indexes -->
    <table name="lastz_seqs" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/lastz_seqs.loc" />
    </table>
    <!-- Locations of indexes in the BWA mem mapper format -->
    <table name="bwa_mem_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/bwa_mem_index.loc" />
    </table>
    <!-- Locations of gtf for featurecounts indexes pietro -->
    <table name="gene_sets" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gene_sets.loc" />
    </table>
    <!-- Locations of rRNAdatabse forsortmerna indexes pietro -->
    <table name="rRNA_databases" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/rRNA_databases.loc" />
    </table>
