    <!-- Locations of gtf for featurecounts indexes pietro -->
    <table name="gene_sets" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/gene_sets.loc" />
    </table>
    <!-- Locations of gff for bedtools indexes pietro -->
    <table name="all_gff" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/all_gff.loc" />
    </table>
    <!-- Locations of rRNAdatabse forsortmerna indexes pietro -->
    <table name="rRNA_databases" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/rRNA_databases.loc" />
    </table>
<!-- END ELIXIR-ITA customization-->
</tables>

