#This file lists the locations and dbkeys of all the GFF files
#This file has the format (white space characters are
#TAB characters):
#
#<unique_build_id>	<dbkey>	<display_name>	<file_path>
#
#So, all_gff.loc could look something like this:
#
#apiMel3	apiMel3	Honeybee (Apis mellifera): apiMel3	/path/to/annotation/apiMel3/apiMel3.gff
#hg19canon	hg19	Human (Homo sapiens): hg19 Canonical	/path/to/annotation/hg19/hg19canon.gff
#hg19full	hg19	Human (Homo sapiens): hg19 Representative transcripts	/path/to/annotation/hg19/hg19_representative_tx.gff
#
#Your all_gff.loc file should contain an entry for each different annotation.
#So there can be multiple gff files for each build, such as with hg19 above
at9	at9	Arabidopsis thaliana(TAIR9)	{{ refdata_dir }}/{{ refdata_repository_name }}/at9/TAIR9_GFF3_genes.gff
at10	at10	Arabidopsis thaliana(TAIR10)	{{ refdata_dir }}/{{ refdata_repository_name }}/at10/TAIR10_GFF3_genes.gff
hg38	hg38	Homo sapiens(GRCh38)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg38/Homo_sapiens.GRCh38.91.gff3
mm10	mm10	mus musculus(GRCm38)	{{ refdata_dir }}/{{ refdata_repository_name }}/mm10/Mus_musculus.GRCm38.91.gff3
dm6	dm6	Drosophila melanogaster(BDGP6)	{{ refdata_dir }}/{{ refdata_repository_name }}/dm6/Drosophila_melanogaster.BDGP6.91.gff3
sacCer3	sacCer3	Saccharomyces cerevisiae	{{ refdata_dir }}/{{ refdata_repository_name }}/sacCer3/Saccharomyces_cerevisiae.R64-1-1.91.gff3	

