at9	at9	Arabidopis thaliana (TAIR9)	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/at9/bowtie-index/at9
at10	at10	Arabidopis thaliana (TAIR10)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/at10/bowtie-index/at10
dm3	dm3	Drosophila melanogaster (dm3)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/dm3/bowtie-index/dm3
hg18	hg18	Homo sapiens (hg18)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/hg18/bowtie-index/hg18
hg19	hg19	Homo sapiens (hg19)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/hg19/bowtie-index/hg19
hg38	hg38	Homo sapiens (hg38)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/hg38/bowtie-index/hg38
mm9	mm9	Mus musculus (mm9)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/mm9/bowtie-index/mm9
mm10	mm10	Mus musculus (mm10)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/mm10/bowtie-index/mm10
sacCer3	sacCer3	Saccharomyces cerevisiae (sacCer3)	{{refdata_dir}}/{{ refdata_onedata_space_name }}/sacCer3/bowtie-index/sacCer3
