at9	at9	Arabidopis thaliana (TAIR9)	{{ refdata_dir }}/{{ refdata_repository_name }}/at9/bwa_index/genome
at10	at10	Arabidopis thaliana (TAIR10)	{{ refdata_dir }}/{{ refdata_repository_name }}/at10/bwa_index/genome
dm3	dm3	Drosophila melanogaster (dm3)	{{ refdata_dir }}/{{ refdata_repository_name }}/dm3/bwa_index/dm3
hg18	hg18	Homo sapiens (hg18)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg18/bwa_index/hg18
hg19	hg19	Homo sapiens (hg19)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg19/bwa_index/hg19
hg38	hg38	Homo sapiens (hg38)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg38/bwa_index/hg38
mm9	mm9	Mus musculus (mm9)	{{ refdata_dir }}/{{ refdata_repository_name }}/mm9/bwa_index/mm9
mm10	mm10	Mus musculus (mm10)	{{ refdata_dir }}/{{ refdata_repository_name }}/mm10/bwa_index/mm10
sacCer3	sacCer3	Saccharomyces cerevisiae (sacCer3)	{{ refdata_dir }}/{{ refdata_repository_name }}/sacCer3/bwa_index/sacCer3
