#!/usr/bin/env python
# ELIXIR-ITALY
# INDIGO-DataCloud
# IBIOM-CNR
#
# Contributors:
# author: Tangaro Marco
# email: ma.tangaro@ibiom.cnr.it

galaxy_config_file = '{{ galaxy_config_file }}'
galaxyctl_path='{{ galaxy_custom_script_path }}'
wait_time = 300
retries_number = 5

#______________________________________
def check_galaxy():

  # Import galaxyctl_libs
  import sys
  sys.path.append(galaxyctl_path)
  from galaxyctl_libs import UwsgiStatsServer
  from galaxyctl_libs import bcolors


  # Import galaxyctl start/stop/restart
  import os, imp
  os.chdir(galaxyctl_path)
  galaxyctl = imp.load_source('galaxyctl', 'galaxyctl')

  # Check Galaxy
  stats = UwsgiStatsServer(timeout=wait_time, fname=galaxy_config_file)
  server = stats.GetUwsgiStatsServer()

  if server is False:
    galaxyctl.restart_galaxy(galaxy_config_file, wait_time, True, retry_number)
  else:
    galaxyctl.galaxy_workers_check(galaxy_config_file, wait_time)
    galaxyctl.galaxy_startup_check(galaxy_config_file, wait_time)

#______________________________________
if __name__ == '__main__':
  check_galaxy()
