#!/usr/bin/env python

'''
ELIXIR-ITALY
INDIGO-DataCloud
IBIOM-CNR

Contributors:
author: Tangaro Marco
email: ma.tangaro@ibiom.cnr.it
'''
from galaxyctl_libs import UwsgiStatsServer
from galaxyctl_libs import bcolors

# Import galaxy start/stop/restart
import galaxyctl

galaxy_config_file = '{{ galaxy_config_file }}'

#______________________________________
def check_galaxy():

  stats = UwsgiStatsServer(timeout=300, fname=galaxy_config_file)
  server = stats.GetUwsgiStatsServer()

  if server is False:
    galaxyctl.restart_galaxy(galaxy_config_file, 300, True)
  else:
    galaxyctl.galaxy_workers_check(galaxy_config_file, 300)
    galaxyctl.galaxy_startup_check(galaxy_config_file, 300)

#______________________________________
if __name__ == '__main__':
  check_galaxy()
