#at9	at9	Arabidopis thaliana (TAIR9)	/refdata/elixir-italy.galaxy.refdata/at9/genome.fa
at10	at10	Arabidopis thaliana (TAIR10)	{{ refdata_dir }}/{{ refdata_repository_name }}/at10/Arabidopsis_thaliana.TAIR.37.gtf
dm3	dm3	Drosophila melanogaster (dm3)	{{ refdata_dir }}/{{ refdata_repository_name }}/dm3/dm3.gtf
dm6	dm6	Drosophila melanogaster (dm6)	{{ refdata_dir }}/{{ refdata_repository_name }}/dm3/dm6.gtf
hg18	hg18	Homo sapiens (hg18)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg18/hg18.gtf
hg19	hg19	Homo sapiens (hg19)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg19/hg19.gtf
hg38	hg38	Homo sapiens (hg38)	{{ refdata_dir }}/{{ refdata_repository_name }}/hg38/hg38.gtf
mm9	mm9	Mus musculus (mm9)	{{ refdata_dir }}/{{ refdata_repository_name }}/mm9/mm9.gtf
mm10	mm10	Mus musculus (mm10)	{{ refdata_dir }}/{{ refdata_repository_name }}/mm10/mm10.gtf
sacCer3	sacCer3	Saccharomyces cerevisiae (sacCer3)	{{ refdata_dir }}/{{ refdata_repository_name }}/sacCer3/sacCer3.gtf
