# This file avoid that the ansible role indigo.dc-galaxycloud-refdata is re-run.
# Thus causing user custom settings to be rewrited.
# Removing this file will cause an update of your VM with Galaxy restart, loosing your custom settings.
# if you don't know or you are not sure of what are you doing
# leave it here.
