dm2	dm3	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/dm2/liftover/dm2ToDm3.over.chain
dm3	dm2	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/dm3/liftover/dm3ToDm2.over.chain
hg18	hg19	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg18/liftover/hg18ToHg19.over.chain
hg18	mm8	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg18/liftover/hg18ToMm8.over.chain
hg18	mm9	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg18/liftover/hg18ToMm9.over.chain
hg19	hg18	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg19/liftover/hg19ToHg18.over.chain
hg19	hg38	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg19/liftover/hg19ToHg38.over.chain
hg19	mm9	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg19/liftover/hg19ToMm9.over.chain
hg19	mm10	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg19/liftover/hg19ToMm10.over.chain
hg38	hg19	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg38/liftover/hg38ToHg19.over.chain
hg38	mm10	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/hg38/liftover/hg38ToMm10.over.chain
mm8	hg18	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm8ToHg18.over.chain
mm8	mm9	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm8ToMm9.over.chain
mm8	mm10	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm8ToMm10.over.chain
mm9	hg18	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm9ToHg18.over.chain
mm9	hg19	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm9ToHg19.over.chain
mm9	mm8	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm9ToMm8.over.chain
mm9	mm10	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm9/liftover/mm9ToMm10.over.chain
mm10	hg19	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm10/liftover/mm10ToHg19.over.chain
mm10	mm9	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/mm10/liftover/mm10ToMm9.over.chain
sacCer1	sacCer2	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/sacCer1/liftover/sacCer1ToSacCer2.over.chain
sacCer1	sacCer3	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/sacCer1/liftover/sacCer1ToSacCer3.over.chain
sacCer2	sacCer3	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/sacCer2/liftover/sacCer2ToSacCer3.over.chain
sacCer3	sacCer2	{{ refdata_dir }}/{{ refdata_onedata_space_name }}/sacCer3/liftover/sacCer3ToSacCer2.over.chain
