#<unique_id>  <database_caption>  <fasta_file_path>
set5	 85% identity 16S rRNA bacteria & archaea (7659 sequences)	{{ refdata_dir }}/{{ refdata_repository_name }}/rRNAdatabase/set5-database
set6	98% identity 23S rRNA bacteria & archaea (2811 sequences)	{{ refdata_dir }}/{{ refdata_repository_name }}/rRNAdatabase/set6-database
